<div class="blank-space"></div>

<ion-toolbar class="top-segment">
  <ion-icon aria-hidden="true" name="arrow-back" slot="start" (click)="backToStops()"></ion-icon>
  <ion-title class="header">Dettagli Fermata</ion-title>
</ion-toolbar>



<ion-item lines="none" style="margin-top: 10px;">
  <ion-icon slot="start" aria-hidden="true" name="pin-outline" class="icon" size="large"></ion-icon>
  <ion-label class="label">

    <div *ngIf="stop?.address != stop?.name; else elseBlock">
      <div class="bold" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ stop?.name }}</div>
      <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ stop?.address }}</div>
    </div>
    <ng-template #elseBlock>
      <div class="bold" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ stop?.address }}</div>
    </ng-template>

  </ion-label>

  <ion-icon *ngIf="!this.favourite" (click)="addFavourite(true)" slot="end" aria-hidden="true" name="star-outline"
    class="icon"></ion-icon>
  <ion-icon *ngIf="this.favourite" (click)="addFavourite(false)" slot="end" aria-hidden="true" name="star"
    class="icon"></ion-icon>

</ion-item>

<ion-accordion-group>
  <ion-accordion value="first" (click)="resizeModal()">
    <ion-item slot="header" style="margin-right: 10px;">
      <ion-icon slot="start" aria-hidden="true" name="time-outline" class="icon" size="large"></ion-icon>
      <ion-label class="label">
        <div class="bold">Bus in arrivo</div>
        <div>Visualizza bus in arrivo</div>
      </ion-label>
    </ion-item>

    <div slot="content">

      <ion-list class="list" lines="full">

        <ion-item class="bus-item" *ngFor="let nextBus of nextBuses">
          <ion-badge slot="start" class="bus-badge">
            <ion-icon name="bus-outline" class="icon-center"></ion-icon>
            {{nextBus.code}}
          </ion-badge>
          <ion-label style="font-size: 17px; padding-top: 15px; padding-bottom: 15px;">{{nextBus.name}}</ion-label>
          <ion-label slot="end" class="big-hour">{{nextBus.time}}</ion-label>
        </ion-item>

      </ion-list>

    </div>
  </ion-accordion>
</ion-accordion-group>

