<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar class="search-bar" slot="start" (ionChange)="search($event)"
      placeholder="Cerca una linea"></ion-searchbar>
  </ion-toolbar>

  <div *ngIf="loading" class="loading-overlay">
    <!-- Aggiungi qui l'effetto di caricamento, ad esempio uno spinner -->
    <ion-spinner></ion-spinner>
  </div>

  <ion-list lines="full" *ngIf="!loading">
    <ion-item-group *ngFor="let company of routes | keyvalue">

      <ion-item-divider>
        <ion-label>{{company.key}}</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let route of company.value">
        <ion-badge slot="start" class="bus-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          {{ route.code.split('_')[0] }}
        </ion-badge>
        <ion-label class="label-small">{{ route.code.split('_')[1] }}</ion-label>
      </ion-item>

    </ion-item-group>
  </ion-list>
</ion-content>
