<ion-content>
  <div #map id="map"></div>

  <ion-button shape="round" *ngIf="isModalOpen == false" (click)="setOpen(true)" slot="fixed">Visualizza nei
    dintorni</ion-button>

  <ion-modal #modal [isOpen]="isModalOpen" [initialBreakpoint]="0.30" [breakpoints]="[0.00, 0.30, 1]"
    [backdropDismiss]="false" [backdropBreakpoint]="0.95" [handle]="true" [cssClass]="'modal-above-tabs'"
    handle-behavior="cycle">
    <ng-template>
      <ion-content class="ion-padding">

        <!-- Contenuto del modal -->
        <!-- Assicurati che il contenuto abbia un'altezza fissa -->
        <div *ngIf="showStops && showBuses">

          <div class="blank-space"></div>

          <ion-segment value="{{this.selectedSegment}}" (ionChange)="segmentChanged($event)" class="top-segment">
            <ion-segment-button value="default">
              <ion-label>Fermate</ion-label>
            </ion-segment-button>
            <ion-segment-button value="segment">
              <ion-label>Bus</ion-label>
            </ion-segment-button>
          </ion-segment>

          <!-- Fermate -->
          <ion-list class="list" lines="full" *ngIf="selectedSegment === 'default'">
            <ion-item *ngFor="let stop of filteredStops" (click)="navigateToStopDetails(stop)" (click)="centerStopBus(stop)" class="bus-item">
              <img [src]="getIconDirectory() + 'bus-stop.png'" class="img-icon">
              <ion-label
                style="margin-left: 5px; font-size: 17px; font-weight: bold; padding-top: 15px; padding-bottom: 15px;">{{stop.address}}</ion-label>
              <ion-label style="font-size: 22px;" slot="end">{{ this.getDistance(this.currentPosition, stop.coords) }}Km</ion-label>
            </ion-item>
          </ion-list>
          

          <!-- Bus -->
          <ion-list class="list" lines="full" *ngIf="selectedSegment === 'segment'">
            <ion-item *ngFor="let bus of buses" (click)="navigateToBusDetails(bus.routeId)" (click)="centerStopBus(bus)">
              <ion-badge class="bus-badge" style="font-size: 16px;">
                <ion-icon name="bus-outline" class="icon-center"></ion-icon>
                &nbsp;{{ bus.route.code.split('_')[0] }} - {{ bus.route.company }}
              </ion-badge>
              <ion-label style="font-size: 17px; padding-top: 12px; padding-bottom: 12px;"></ion-label>
              <ion-label style="font-size: 22px; padding-top: 12px; padding-bottom: 12px;" slot="end">+5 min</ion-label>
            </ion-item>
          </ion-list>
          
          

        </div>

        <div *ngIf="!showStops">
          <app-stop-details [stop]="this.selectedStop" [nextBuses]="this.nextBuses" [modal]="this.modal"
            (back)="this.showStops = true"></app-stop-details>
        </div>


        <div *ngIf="!showBuses">
          <app-bus-details *ngIf="selectedBus" [bus]="this.selectedBus" [modal]="this.modal"
            (back)="this.showBuses = true"></app-bus-details>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Search Modal -->
  <ion-modal #cardModal trigger="open-modal" [presentingElement]="presentingElement"
    style="margin-top: 10px; border-radius: 20px 20px 0 0px; box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 15%);"
    (ionModalDidPresent)="focusInput()">
    <ng-template>
      <div class="card-modal-header">
        <ion-buttons slot="end">
          <ion-icon aria-hidden="true" (click)="cardModal.dismiss()" name="chevron-back-outline"></ion-icon>
          <ion-input placeholder="Cerca sulla mappa" (ionChange)="searchPlaces($event)" style="width: 100%;"></ion-input>
        </ion-buttons>
      </div>
      <ion-content>
        <ion-list>

          <ion-item *ngFor="let place of places" (click)="changeCurrentPosition(place.lat, place.lng)">
            <ion-avatar slot="start">
              <ion-img src="../../assets/marker-round.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{place.name}}</h2>
              <!--<p>via della Resistenza, 132, Rende</p>-->
            </ion-label>
          </ion-item>
      
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>