#map {
    height: 100%;
}

.modal-above-tabs {
    //position: absolute;
    /* Remove default positioning */
    //top: 0; /* Position to top of the screen */
    //left: 0; /* Position to left of the screen */
    //right: 0; /* Stretch to full width */
    bottom: 56px;
    /* Don't cover the bottom */
    /* Adjust height as needed */
    
}

.modal-above-tabs::part(handle) {
    background-color: var(--ion-color-primary);
    /* Cambia il colore di sfondo della barra di handle */
    height: 4px;
    /* Imposta l'altezza della barra di handle */
    width: 72px;
    margin-top: 10px;
    /* Imposta il margine superiore della barra di handle */
}

ion-button[slot='fixed'] {
    position: fixed;
    bottom: 16px; // Regola l'altezza dal basso della pagina
    left: 50%; // Posiziona il bottone a metà della larghezza della pagina
    transform: translateX(-50%); // Sposta il bottone a sinistra del 50% della propria larghezza
}