.half-screen {
    height: 50%;
    width: 100%;
}

#map {
    min-height: 65%;
}

/* Stile per il segmento */
.top-segment {
    //margin-top: -56px; /* Altezza dell'header per compensare lo spazio bianco */

    position: sticky;
    top: 0;
    z-index: 1000;
    /* Assicura che il segmento sia sopra all'header */
    --background: var(--ion-item-background);

    //imposta il colore di sfondo bianco per il tema chiaro
    @media (prefers-color-scheme: light) {
        --background: #fff;
    }
    
}

ion-list {
    padding-top: 0;
}

