<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fermate
    </ion-title>
    <ion-searchbar slot="start" (ionChange)="search($event)" placeholder="Cerca nelle vicinanze"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>

    <ion-segment value="default" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="default">
        <ion-label>Fermate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Bus</ion-label>
      </ion-segment-button>
    </ion-segment>

    

    <!-- Lista delle fermate -->
    <ion-list *ngIf="selectedSegment === 'default'">
      <ion-item *ngFor="let fermata of fermate">
        {{ fermata }}
      </ion-item>
    </ion-list>

    <!-- Lista dei bus -->
    <ion-list *ngIf="selectedSegment === 'segment'">
      <ion-item *ngFor="let bus of autobus">
        {{ bus }}
      </ion-item>
    </ion-list>
    

</ion-content>