

<ion-content [fullscreen]="true">
  <div id="map"></div>

  <ion-list *ngIf="selectedSegment === 'default'">
    <!-- Segmento ancorato sopra la lista delle fermate -->
    <ion-segment value="default" (ionChange)="segmentChanged($event)" class="top-segment">
      <ion-segment-button value="default">
        <ion-label>Fermate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Bus</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Lista delle fermate -->
    <ion-item *ngFor="let fermata of fermate">
      {{ fermata }}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectedSegment === 'segment'">
    <!-- Segmento ancorato sopra la lista dei bus -->
    <ion-segment value="default" (ionChange)="segmentChanged($event)" class="top-segment">
      <ion-segment-button value="default">
        <ion-label>Fermate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Bus</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Lista dei bus -->
    <ion-item *ngFor="let bus of autobus">
      {{ bus }}
    </ion-item>
  </ion-list>

</ion-content>
