

.icon-center {
  margin-right: 4px;
  /* Aggiunge un po' di spazio tra l'icona e il testo */
}

.label-small {
  font-size: 17px;
  /* Imposta la dimensione del testo desiderata */
}

/*
ion-list {
  padding-top: 0;
}
*/

ion-item-divider{
  font-size: 17px;
  background: var(--ion-border-color);
}

ion-item{
  padding-top: 5px;
  padding-bottom: 5px;
}