<div class="blank-space"></div>


  <ion-toolbar class="top-segment">
    <ion-icon name="arrow-back" slot="start" (click)="backToStops()"></ion-icon>
    <ion-title>Dettagli Fermata</ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true" style="height: 100vh; overflow-y: auto;">
  <ion-list lines="inset">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Autolinee Romano</ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          120
        </ion-badge>
        <ion-label class="label-small">Unical - Piazzale</ion-label>
      </ion-item>
            
      
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
    </ion-item-group>

    <!-- DUPLICAZIONE -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Autolinee Romano</ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          120
        </ion-badge>
        <ion-label class="label-small">Unical - Piazzale</ion-label>
      </ion-item>
            
      
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Autolinee Romano</ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          120
        </ion-badge>
        <ion-label class="label-small">Unical - Piazzale</ion-label>
      </ion-item>
            
      
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Autolinee Romano</ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          120
        </ion-badge>
        <ion-label class="label-small">Unical - Piazzale</ion-label>
      </ion-item>
            
      
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Autolinee Romano</ion-label>
      </ion-item-divider>
  
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          120
        </ion-badge>
        <ion-label class="label-small">Unical - Piazzale</ion-label>
      </ion-item>
            
      
      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>

      <ion-item>
        <ion-badge slot="start" class="custom-badge">
          <ion-icon name="bus-outline" class="icon-center"></ion-icon>
          10
        </ion-badge>
        <ion-label class="label-small">Aereoporto - Nicastro</ion-label>
      </ion-item>
    </ion-item-group>
  

  </ion-list>
</ion-content>