.header{
    text-align: center;
    padding-left: 0;
    
}

/*
.blank-space{
    @media (prefers-color-scheme: dark) {
    background: #121212;
    }
}
*/

.icon {
    margin-right: 10px; /* Aggiungi un margine a destra all'icona */
  }
  
  .bold {
    font-weight: bold; /* Rendi il testo in grassetto */
    font-size: 18px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  