ul {    
    list-style-type: none;
    margin-top: -2.4em;
}


li {
    width: 1.25em; //diametro del pallino
    height: 1.25em;
    line-height: 1em;
    border-radius: 1em;
    background: #1e90ff;
    margin: 4em -1em; //margine tra i pallini
    color: #fff;
    position: relative;

    color: var(--ion-color-contrast);
    //font-weight: bold;
}

//linee tra i pallini
li::before {
    content: '';
    position: absolute;
    bottom: 1.2em;
    left: 0.4em;
    /* width: 4em; */
    width: .5em;
    height: 4.2em;
    background: red;
    z-index: -1;
}

li::after {
    content: attr(data-content) '\a Arrivo: \a Ritardo:';
    white-space: pre-wrap; /* Per consentire al testo di andare a capo */
    position: absolute;
    top: 0.0em;
    left: 2em; //margine sinistro del testo
    width: 19em;
    height: .2em;
    background: transparent;
    z-index: -1;
}




li:first-child::before {
    display: none;
}

.active {
    background: dodgerblue;
}

.active~li {
    background: lightblue;
}

.active~li::before {
    background: lightblue;
}