ul {    
    list-style-type: none;
    margin-top: -2.4em;
}


li {
    width: 1.25em; //diametro del pallino
    height: 1.25em;
    //line-height: 1em;
    border-radius: 1em;
    background: var(--ion-color-primary);
    margin: 5em -1em; //margine tra i pallini
    color: #fff;
    position: relative;

    color: var(--ion-color-contrast);
    //font-weight: bold;
}

//linee tra i pallini
li::before {
    content: '';
    position: absolute;
    bottom: 1.2em;
    left: 0.4em;
    /* width: 4em; */
    width: .5em;
    height: 5.2em;
    background: var(--ion-color-primary);
    z-index: -1;
}

li::after {
    content: attr(data-content) '\a Arrivo: 17:52 \a Ritardo: +5 min' url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='14' width='85'><text style='alignment-baseline:hanging;font-size:14px;font-family:Arial,sans-serif;fill:#000;'><tspan style='alignment-baseline:inherit;font-weight:bold;'>Bold</tspan> not bold</text></svg>");
    white-space: pre-wrap; /* Per consentire al testo di andare a capo */
    font-weight: bold;
    font-size: 17px;
    
    position: absolute;
    top: -1.0em;
    left: 2em; //margine sinistro del testo
    width: 18em;
    height: .2em;
    background: transparent;
    z-index: -1;
}




li:first-child::before {
    display: none;
}

.active {
    background: var(--ion-color-primary);
}

.active~li {
    background: var(--ion-color-primary-tint);
}

.active~li::before {
    background: var(--ion-color-primary-tint);
}